body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:0px;
  width:960px;
  height:2396px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:2396px;
}
#u1 {
  position:absolute;
  left:770px;
  top:10px;
  width:240px;
  height:45px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#996600;
  text-align:left;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:45px;
}
#u2 {
  position:absolute;
  left:15px;
  top:12px;
  width:223px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:770px;
  top:55px;
  width:240px;
  height:445px;
  color:#333333;
  text-align:left;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:445px;
}
#u4 {
  position:absolute;
  left:15px;
  top:2px;
  width:223px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:20px;
  top:20px;
  width:720px;
  height:330px;
  overflow:hidden;
}
#u5_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:330px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:80px;
  color:#FFFFFF;
  text-align:left;
  line-height:19px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:80px;
}
#u7 {
  position:absolute;
  left:15px;
  top:12px;
  width:680px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:80px;
  width:710px;
  height:80px;
  color:#333333;
  text-align:left;
  line-height:19px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:80px;
}
#u8_img.mouseOver {
}
#u8.mouseOver {
}
#u9 {
  position:absolute;
  left:15px;
  top:12px;
  width:680px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:160px;
  width:710px;
  height:80px;
  color:#333333;
  text-align:left;
  line-height:19px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:80px;
}
#u10_img.mouseOver {
}
#u10.mouseOver {
}
#u11 {
  position:absolute;
  left:15px;
  top:12px;
  width:680px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:590px;
  top:6px;
  width:106px;
  height:70px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:70px;
}
#u13 {
  position:absolute;
  left:2px;
  top:27px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:240px;
  width:710px;
  height:80px;
  color:#333333;
  text-align:left;
  line-height:19px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:80px;
}
#u14_img.mouseOver {
}
#u14.mouseOver {
}
#u15 {
  position:absolute;
  left:15px;
  top:12px;
  width:680px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u0_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:2396px;
}
#u1.a {
}
#u3.a {
}
#u5.a {
  position:absolute;
  left:20px;
  top:20px;
  width:720px;
  height:330px;
}
#u6.a {
}
#u8.a {
}
#u10.a {
}
#u12.a {
}
#u14.a {
}
#u5_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
